/* -------------base------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", "Segoe UI", Tahoma, Verdana, sans-serif, serif;
  font-weight: 500;
}

p {
  font-weight: bold;
}

.flexible, .welcome-container-register-slide, .welcome-container-carousel-slide h1, .welcome-container-carousel-1-slide h1, .welcome-container-carousel, .welcome-container-carousel-1, .box-contain, .box-img, .menu-men-container, .b1, .b3, .b5, .contact-form-contain, .contact-form, .local, .local-container-img .about-img, .local-container, .footer-container-content, .h1-container h1, .h1-container, .button-container .send-button, .button-container, .navbar-socialmedia-container, .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousels, .carousel-index-item img,
.carousel-page-item img {
  width: 100%;
  object-fit: cover;
}

/* ----------components---------- */
/* -------------navbar------------- */
.navbar {
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.navbar-brand {
  width: 10%;
}
.navbar-brand-icon {
  width: 60px;
  height: 100%;
  object-fit: contain;
}
.navbar-collapse {
  justify-content: center;
  width: 75%;
}
.navbar-collapse .navbar-nav {
  padding-left: 35px;
}
.navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  background-color: #d7cec7;
}
.navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #b0845e;
  border-radius: 4px;
}
.navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item .nav-link {
  font-size: 20px;
}
.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  background-color: #b0845e;
  border-radius: 4px;
}
.navbar-socialmedia {
  display: flex;
  flex-direction: row;
  width: 15%;
  justify-content: space-evenly;
}
.navbar-socialmedia-container {
  width: 30px;
  height: 30px;
}
.navbar-socialmedia-container:hover {
  background-color: #b0845e;
  border-radius: 4px;
}
.navbar-socialmedia-container svg {
  display: flex;
}

/* -------------------carouseles------------------ */
@media (max-width: 768px) {
  .carousel-index-item img {
    height: 300px;
    object-fit: contain;
  }
  .carousel-page-item img {
    width: 100%;
    height: 300px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .carousel-index-item img {
    height: 450px;
    object-fit: contain;
  }
  .carousel-page-item img {
    height: 450px;
  }
}
@media (min-width: 1024px) {
  .carousel-index-item img {
    height: 600px;
  }
  .carousel-page-item img {
    height: 600px;
  }
}
.button-container {
  width: 100%;
  height: auto;
}
.button-container .send-button {
  width: 170px;
  height: 50px;
  padding: 10px;
  border-radius: 7px;
  font-size: 20px;
  transition: 0.5s;
}

.h1-container {
  width: 100%;
  height: 150px;
}
.h1-container h1 {
  height: auto;
}

.h1-container h1, h2, .contact-form h2 {
  border: 4px solid #5c3d23;
  color: white;
  border-radius: 7px;
  background: linear-gradient(45deg, rgba(28, 21, 16, 0.8078431373), rgba(137, 100, 66, 0.7254901961));
  padding: 10px 50px;
}

.local-container-content h2 {
  margin-bottom: 30px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: space-between;
}
.footer-container-logo {
  display: flex;
  justify-content: flex-end;
  width: 70px;
}
.footer-container-content {
  height: 100%;
  flex-direction: column;
  padding: 20px;
}
.footer-container-content-legal a, .footer-container-content-legal small {
  text-decoration: none;
}

/* -----------layouts------------ */
/* ---almaceno todos los colores en un scss para eventualmente 
realizar un boton de modo "dia/noche"--- */
body {
  background-color: #d7cec7;
}

p, a, li, h1, h2 {
  color: #000000;
}

.navbar {
  background-color: #bc9e84;
  border-bottom: 3px solid #b0845e;
}

.button-container .send-button {
  color: white;
  border: 4px solid #b0845e;
  background: linear-gradient(45deg, rgba(28, 21, 16, 0.8078431373), rgba(137, 100, 66, 0.7254901961));
}

.menu-index, .menu-men {
  background-color: #d7cec7;
}

.box {
  background-color: #d7cec7;
}

.box-pages, .sidebar-container {
  background-color: #bc9e84;
}
.box-pages:hover, .sidebar-container:hover {
  background-color: #b0845e;
}
.box-pages:hover .box-contain .button-container .send-button, .sidebar-container:hover .box-contain .button-container .send-button {
  border: 4px solid #5c3d23;
  color: white;
  transition: 1s;
}

.h1-container h1, h2, .contact-form h2 {
  border: 4px solid #5c3d23;
  color: white;
  border-radius: 7px;
  background: linear-gradient(45deg, rgba(28, 21, 16, 0.8078431373), rgba(137, 100, 66, 0.7254901961));
  padding: 10px 50px;
}

.contact-form {
  background-color: #bc9e84;
}
.contact-form .mb-3 .button-container {
  background-color: #bc9e84;
}
.contact-form .mb-3 .button-container .send-button {
  background-color: #5c3d23;
}

.footer-container {
  background-color: #bc9e84;
  border-top: 3px solid #b0845e;
}
.footer-container-content-legal a, .footer-container-content-legal small {
  color: #000000;
}

.contact-container,
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (min-width: 1024px) {
  .contact-container {
    height: 590px;
  }
  .contact-container .contact-form input, .contact-container .contact-form textarea {
    background-color: #d7cec7;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .contact-container {
    height: 600px;
  }
  .contact-container .contact-form input, .contact-container .contact-form textarea {
    background-color: #d7cec7;
  }
}
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 15px 20px;
  }
  .navbar-socialmedia {
    display: none;
  }
  .welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d7cec7;
  }
  .welcome-container-contain {
    width: 100vw;
  }
  .welcome-container-contain-info {
    padding: 20px;
  }
  .welcome-container-contain-info p {
    font-size: 18px;
  }
  .contact-container {
    height: 580px;
  }
  .contact-container .contact-form {
    width: 100%;
  }
  .contact-container .contact-form .mb-3 {
    width: 320px;
  }
  .contact-container .contact-form .mb-3 input, .contact-container .contact-form .mb-3 textarea {
    background-color: #d7cec7;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-container-logo {
    padding: 15px;
  }
  .footer-container-logo, .footer-container-content {
    display: flex;
  }
  .footer-container-content {
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .footer-container-content p {
    margin-bottom: 0;
    text-align: center;
  }
}
/* ---------------------about------------------ */
.local-container {
  width: 80%;
  height: auto;
  background-color: #b0845e;
  margin-bottom: 20px;
  padding: 10px;
}
.local-container-img .about-img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

@media (min-width: 1023px) {
  .local-container-content {
    flex-direction: row;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .local-container-content {
    flex-direction: column;
  }
  .local-container-img {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .local-container {
    width: 100%;
    flex-direction: column;
  }
  .local-container-img {
    height: 300px;
  }
}
/* --------------------locales----------------- */
.local {
  flex-direction: column;
  padding-top: 30px;
}
.local.local-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: auto;
  background-color: #b0845e;
  margin-bottom: 20px;
  padding: 10px;
}

@media (min-width: 1024px) {
  .local-container {
    align-items: center;
  }
  .local-container-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    width: 50%;
    height: 100%;
    padding: 30px;
  }
  .local-container-content p {
    padding-top: 30px;
  }
  .local-container-map, .local-container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 10px 0 10px 0;
    overflow: hidden;
  }
  .local-container-map iframe {
    display: flex;
    width: 500px;
    height: 400px;
  }
  .carousel-item .carousel-local-img {
    width: 500px;
    height: 400px;
    object-fit: cover;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .local-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .local-container-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    width: 80%;
    height: 50%;
    padding: 15px;
  }
  .local-container-map {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 0;
    overflow: hidden;
    padding-bottom: 30px;
  }
  .local-container-map iframe {
    display: flex;
    width: 500px;
    height: 400px;
  }
  .local-container-img {
    width: 80%;
    height: 50%;
    padding: 20px 0 10px;
  }
  .carousel-item .carousel-local-img {
    width: 500px;
    height: 400px;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .local-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .local-container-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 50%;
    padding: 15px 15px 2px;
  }
  .local-container-map {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 0;
    overflow: hidden;
    padding-bottom: 30px;
  }
  .local-container-map iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
  }
  .local-container-img {
    width: 100%;
    height: 50%;
    padding-bottom: 10px;
  }
  .carousel-item .carousel-local-img {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }
}
/* -------------------formulario--------------- */
.contact-form {
  flex-direction: column;
  width: 60%;
  height: auto;
  padding: 20px;
}
.contact-form .mb-3 {
  width: 400px;
}
.contact-form h2 {
  display: flex;
  align-self: center;
  padding: 2px 20px;
}
.contact-form-contain {
  font-size: 22px;
}

/* --------------------grid-area---------------- */
.b1, .c1, .d1, .d2 {
  grid-area: a1;
}

.b2, .c2 {
  grid-area: a2;
}

.b3, .c3, .d3 {
  grid-area: a3;
}

.b4, .c4 {
  grid-area: a4;
}

.b5, .c5 {
  grid-area: a5;
}

.b6, .c6 {
  grid-area: a6;
}

.c7 {
  grid-area: a7;
}

.b1, .b3, .b5 {
  flex-direction: column;
  padding: 15px;
  width: 100%;
  height: 100%;
}

/* --------------------pages-grid------------------- */
.menu-index, .menu-men {
  padding-bottom: 60px;
}

.menu-men-container {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.box-pages {
  height: 100%;
  padding: 15px;
  box-shadow: 5px 5px 5px;
  transition: 1s;
}

.box-img {
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  object-fit: cover;
}

.box-contain {
  flex-direction: column;
  width: auto;
  text-align: center;
  font-size: 18px;
}

.sidebar-container {
  gap: 20px;
  padding: 40px;
  box-shadow: 5px 5px 5px;
  transition: 1s;
}
.sidebar-container ul .dropdown .dropdown-menu {
  background-color: #d7cec7;
}
.sidebar-container ul .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #b0845e;
  border-radius: 4px;
}

/* ------------welcome-carousel------------- */
.welcome-container {
  display: grid;
  position: relative;
  width: 100%;
  height: 500px;
  background: linear-gradient(135deg, rgba(41, 23, 6, 0.8156862745), rgba(215, 206, 199, 0)), url(../assets/images/index/logo.jpg);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "a2 a2 a1 a1" "a2 a2 a1 a1" "a2 a2 a3 a3";
}
.welcome-container-carousel, .welcome-container-carousel-1 {
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.welcome-container-carousel-slide, .welcome-container-carousel-1-slide, .welcome-container-carousel-1-slide, .welcome-container-carousel-1-1-slide {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  text-align: center;
  padding: 30px 40px 30px 0;
  opacity: 0;
}
.welcome-container-carousel-slide, .welcome-container-carousel-1-slide {
  animation: carousel 30s infinite linear;
}
.welcome-container-carousel-slide h1, .welcome-container-carousel-1-slide h1 {
  width: 100%;
  height: 120px;
  font-size: 48px;
}
.welcome-container-carousel-1-slide, .welcome-container-carousel-1-1-slide {
  animation: carousel1 30s infinite linear;
  animation-delay: 10s;
}
.welcome-container-carousel-1-slide p, .welcome-container-carousel-1-1-slide p {
  font-size: 23px;
}
.welcome-container-register {
  display: flex;
  width: 100%;
  height: auto;
  align-items: start;
  justify-content: center;
  padding-right: 30px;
  padding-bottom: 30px;
}
.welcome-container-register-slide {
  width: 170px;
  height: 50px;
  padding: 10px;
  border: 4px solid #b0845e;
  border-radius: 7px;
  background: linear-gradient(45deg, rgba(215, 206, 199, 0), rgba(41, 23, 6, 0.3176470588));
  animation: register 30s normal linear;
}
.welcome-container-register-slide a {
  font-size: 23px;
  text-decoration: none;
}

@keyframes carousel {
  10% {
    opacity: 1;
  }
  27% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
}
@keyframes carousel1 {
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
}
@keyframes register {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/* -----------------index------------------ */
.menu-index {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  overflow: hidden;
  grid-template-areas: "a1 a1 a2 a2 a3 a3" "a1 a1 a2 a2 a3 a3" "a1 a1 a2 a2 a3 a3" "a4 a4 a5 a5 a6 a6" "a4 a4 a5 a5 a6 a6" "a4 a4 a5 a5 a6 a6";
}

/* -----------------pages------------------- */
.menu-men {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  width: 90%;
  grid-template-areas: "a7 a7 a1 a1 a2 a2 a3 a3" "a7 a7 a1 a1 a2 a2 a3 a3" "a7 a7 a1 a1 a2 a2 a3 a3" "a7 a7 a4 a4 a5 a5 a6 a6" "a7 a7 a4 a4 a5 a5 a6 a6" "a7 a7 a4 a4 a5 a5 a6 a6";
}
.menu-men .sidebar-container {
  width: 100%;
  height: 400px;
  align-items: center;
  padding: 20px;
}
.menu-men .sidebar-container ul {
  padding: 10px;
}
.menu-men .sidebar-container ul li {
  list-style: none;
}

.box-contain {
  padding: 10px;
}

/* ---------------------media query tablet------------------- */
@media (min-width: 769px) and (max-width: 1023px) {
  /* -------------welcome-carousel------------- */
  .welcome-container-carousel-slide {
    padding: 40px;
  }
  .welcome-container-carousel-slide h1 {
    font-size: 32px;
  }
  .welcome-container-carousel-1-slide {
    padding: 40px;
  }
  .welcome-container-carousel-1-slide p {
    font-size: 18px;
  }
  .welcome-container-register-slide a {
    font-size: 20px;
  }
  /* -------------------index------------------ */
  .menu-index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "a1 a1 a2 a2" "a1 a1 a2 a2" "a1 a1 a2 a2" "a4 a4 a3 a3" "a4 a4 a3 a3" "a4 a4 a3 a3" "a5 a5 a6 a6" "a5 a5 a6 a6" "a5 a5 a6 a6";
  }
  /* -------------------pages------------------ */
  .menu-men-container {
    padding-top: 30px;
  }
  .menu-men-container .menu-men {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
    width: 80%;
    grid-template-areas: "a7 a7 a7 a7" "a1 a1 a2 a2" "a1 a1 a2 a2" "a3 a3 a4 a4" "a3 a3 a4 a4" "a5 a5 a6 a6" "a5 a5 a6 a6";
  }
  .menu-men-container .menu-men .sidebar-container {
    width: 100%;
    height: 300px;
    align-items: center;
    padding-right: 40px;
  }
  .menu-men-container .menu-men .sidebar-container ul li {
    list-style: none;
  }
  .menu-men-container .menu-men .box-pages {
    height: auto;
  }
  .menu-men-container .menu-men .box-pages .box-contain {
    padding: 30px;
  }
}
/* -------------------media query mobile-------------------- */
@media (max-width: 768px) {
  /* -------------welcome-carousel------------- */
  .welcome-container {
    background: linear-gradient(135deg, #000000, #311702), url(../assets/images/index/logo.jpg);
    margin-bottom: 75px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "a1 a1" "a1 a1" "a3 a3";
  }
  .welcome-container-carousel-slide, .welcome-container-carousel-1-slide, .welcome-container-carousel-1-slide, .welcome-container-carousel-1-1-slide {
    padding: 30px;
  }
  .welcome-container-carousel-slide h1 {
    color: antiquewhite;
    font-size: 32px;
  }
  .welcome-container-carousel-1-slide p {
    color: antiquewhite;
    font-size: 18px;
    font-weight: lighter;
  }
  .welcome-container-register-slide a {
    font-size: 20px;
    color: antiquewhite;
    text-decoration: none;
  }
  /* ------------------index----------------- */
  .menu-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "a2" "a2" "a1" "a4" "a4" "a3" "a6" "a6" "a5";
  }
  /* -----------------pages----------------- */
  .menu-men {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, 9fr);
    gap: 20px;
    width: 100%;
    align-items: center;
    grid-template-areas: "a7 a7" "a1 a1" "a1 a1" "a2 a2" "a2 a2" "a3 a3" "a3 a3" "a4 a4" "a4 a4" "a5 a5" "a5 a5" "a6 a6" "a6 a6";
  }
  .menu-men .sidebar-container {
    width: 100%;
    height: 300px;
    align-items: center;
  }
  .menu-men .sidebar-container ul li {
    list-style: none;
  }
  .box-contain {
    padding: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
