/* -------------base------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d7cec7;
  font-family: "Lora", "Segoe UI", Tahoma, Verdana, sans-serif, serif;
  font-weight: 500;
}

/* ----------components---------- */
/* -------------navbar------------- */
.navbar {
  background-color: #bc9e84;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  border-bottom: 3px groove #bc9e84;
}
.navbar-brand {
  display: flex;
  width: 10%;
  justify-content: center;
}
.navbar-brand-icon {
  width: 60px;
  height: 100%;
  object-fit: contain;
}
.navbar-socialmedia {
  display: flex;
  flex-direction: row;
  width: 15%;
  justify-content: space-evenly;
}
.navbar-socialmedia-container {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.navbar-socialmedia-container:hover {
  background-color: #b0845e;
  border-radius: 4px;
}
.navbar-socialmedia-container svg {
  display: flex;
}

.dropdown-menu {
  background-color: #d7cec7;
}

.dropdown-item:hover,
.nav-link:hover {
  background-color: #b0845e;
  border-radius: 4px;
}

.nav-link {
  font-size: 20px;
}

.navbar-collapse {
  justify-content: center;
  width: 75%;
}

/* -------------------carouseles------------------ */
.carousel-item img {
  width: 100%;
  object-fit: cover;
}

.b2, .b4, .b6 {
  background-color: #b0845e;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 300px;
  }
  .b2 .carousel .carousel-inner .carousel-item img,
  .b4 .carousel .carousel-inner .carousel-item img,
  .b6 .carousel .carousel-inner .carousel-item img {
    object-fit: contain;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .carousel-item img {
    height: 450px;
  }
  .b2 .carousel .carousel-inner .carousel-item img,
  .b4 .carousel .carousel-inner .carousel-item img,
  .b6 .carousel .carousel-inner .carousel-item img {
    object-fit: contain;
  }
}
@media (min-width: 1024px) {
  .carousel-item img {
    height: 600px;
  }
}
.mb-3 .button-container {
  display: flex;
  background-color: #b0845e;
  width: 100%;
  height: auto;
  justify-content: center;
}
.mb-3 .button-container .send-button {
  display: flex;
  background-color: #956f4e;
  width: 100px;
  height: 30px;
  justify-content: center;
}

.h1-container {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.h1-container h1 {
  display: flex;
  height: auto;
  border: 5px groove #bc9e84;
  padding: 2px 20px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  background-color: #bc9e84;
  border-top: 3px groove #b0845e;
  margin-top: 30px;
  justify-content: space-between;
}

/* -----------layouts------------ */
@media (min-width: 1024px) {
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 590px;
  }
  .contact-container .contact-form input, .contact-container .contact-form textarea {
    background-color: #d7cec7;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
  }
  .contact-container .contact-form input, .contact-container .contact-form textarea {
    background-color: #d7cec7;
  }
}
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 15px 20px;
  }
  .navbar-socialmedia {
    display: none;
  }
  .welcome-container {
    flex-wrap: wrap;
    background-color: #d7cec7;
    justify-content: center;
  }
  .welcome-container-contain {
    width: 100vw;
  }
  .welcome-container-contain-info {
    padding: 20px;
  }
  .welcome-container-contain-info p {
    font-size: 18px;
  }
  .welcome-container .welcome-img img {
    width: 70vw;
  }
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 580px;
  }
  .contact-container .contact-form {
    width: 100%;
  }
  .contact-container .contact-form input, .contact-container .contact-form textarea {
    background-color: #d7cec7;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-container-logo {
    padding: 15px;
  }
  .footer-container-logo, .footer-container-content {
    display: flex;
  }
  .footer-container-content {
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .footer-container-content p {
    margin-bottom: 0;
    text-align: center;
  }
  .footer-container-content-legal a, .footer-container-content-legal small {
    color: black;
    text-decoration: none;
  }
}
/* ---------------------about------------------ */
.about-container,
.vision-container {
  display: flex;
  width: 80%;
  height: auto;
  align-items: center;
  background-color: #b0845e;
  margin-bottom: 20px;
  padding: 10px;
}

.vision-container .local-content {
  padding: 25px 25px 0;
}

.about-img {
  display: flex;
  width: 100%;
  height: 400px;
  object-fit: contain;
}

@media (min-width: 1023px) {
  .about-container,
  .vision-container {
    flex-direction: row;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .about-container {
    flex-direction: column;
  }
  .vision-container {
    flex-direction: column-reverse;
  }
  .about-img {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .about-container,
  .vision-container {
    width: 100%;
  }
  .about-container {
    flex-direction: column;
  }
  .vision-container {
    flex-direction: column-reverse;
  }
  .about-img {
    height: 300px;
  }
}
/* --------------------locales----------------- */
.local {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.local-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: auto;
  background-color: #bc9e84;
  margin-bottom: 20px;
  padding: 10px;
}

.local-container:hover {
  background-color: #b0845e;
}

.local-content h2 {
  border: 5px groove #bc9e84;
  padding: 2px 20px;
}

@media (min-width: 1024px) {
  .local-container {
    align-items: center;
  }
  .local-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 20px;
    width: 50%;
    height: 100%;
    padding: 30px;
  }
  .local-content p {
    padding-top: 30px;
  }
  .local-map,
  .local-img {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    padding: 10px 0 10px 0;
    overflow: hidden;
  }
  .local-img {
    width: 50%;
    height: 100%;
    padding: 10px 0 10px;
  }
  .local-map iframe {
    display: flex;
    width: 500px;
    height: 400px;
  }
  .carousel-item .carousel-local-img {
    width: 500px;
    height: 400px;
    object-fit: cover;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .local-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .local-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 20px;
    text-align: center;
    width: 80%;
    height: 50%;
    padding: 15px;
  }
  .local-map {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 10px 0 10px 0;
    overflow: hidden;
    padding-bottom: 30px;
  }
  .local-img {
    width: 80%;
    height: 50%;
    padding: 20px 0 10px;
  }
  .local-map iframe {
    display: flex;
    width: 500px;
    height: 400px;
  }
  .carousel-item .carousel-local-img {
    width: 500px;
    height: 400px;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .local-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  .local-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 50%;
    padding: 15px 15px 2px;
  }
  .local-map {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 10px 0 10px 0;
    overflow: hidden;
    padding-bottom: 30px;
  }
  .local-img {
    width: 100%;
    height: 50%;
    padding-bottom: 10px;
  }
  .local-map iframe {
    display: flex;
    width: 400px;
    height: 300px;
  }
  .carousel-item .carousel-local-img {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }
}
/* --------------------grid-area---------------- */
.b1, .c1 {
  grid-area: a1;
}

.b2, .c2 {
  grid-area: a2;
}

.b3, .c3 {
  grid-area: a3;
}

.b4, .c4 {
  grid-area: a4;
}

.b5, .c5 {
  grid-area: a5;
}

.b6, .c6 {
  grid-area: a6;
}

.b1, .b3, .b5 {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
  background-color: #d7cec7;
  color: black;
  width: 100%;
  height: 100%;
}

.c1, .c2, .c3, .c4, .c5, .c6 {
  padding: 15px;
  background-color: #bc9e84;
}

.box-pages:hover {
  background-color: #b0845e;
}

/* --------------------pages-grid------------------- */
.menu-index {
  padding-bottom: 60px;
}

.menu-men-container {
  padding: 50px 0 50px;
}

.menu-men-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.box-img {
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  object-fit: cover;
}

.box-contain {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
}

.box-contain p {
  text-align: justify;
  padding: 10px;
  font-size: 18px;
}

/* ----------------------media query desktop--------------------- */
@media (min-width: 1024px) {
  /* -----------------index------------------ */
  .menu-index {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #d7cec7;
    overflow: hidden;
    grid-template-areas: "a1 a1 a2 a2 a3 a3" "a1 a1 a2 a2 a3 a3" "a1 a1 a2 a2 a3 a3" "a4 a4 a5 a5 a6 a6" "a4 a4 a5 a5 a6 a6" "a4 a4 a5 a5 a6 a6";
  }
  /* -----------------pages------------------- */
  .menu-men {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    width: 80%;
    background-color: #d7cec7;
    grid-template-areas: "a1 a1 a2 a2 a3 a3" "a1 a1 a2 a2 a3 a3" "a1 a1 a2 a2 a3 a3" "a4 a4 a5 a5 a6 a6" "a4 a4 a5 a5 a6 a6" "a4 a4 a5 a5 a6 a6";
  }
  .box-contain {
    padding: 20px;
  }
}
/* ---------------------media query tablet------------------- */
@media (min-width: 769px) and (max-width: 1023px) {
  /* -------------------index------------------ */
  .menu-index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: #d7cec7;
    grid-template-areas: "a1 a1 a2 a2" "a1 a1 a2 a2" "a1 a1 a2 a2" "a4 a4 a3 a3" "a4 a4 a3 a3" "a4 a4 a3 a3" "a5 a5 a6 a6" "a5 a5 a6 a6" "a5 a5 a6 a6";
  }
  /* -------------------pages------------------ */
  .menu-men {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 9fr);
    gap: 20px;
    width: 80%;
    background-color: #d7cec7;
    grid-template-areas: "a1 a1 a2 a2" "a1 a1 a2 a2" "a1 a1 a2 a2" "a3 a3 a4 a4" "a3 a3 a4 a4" "a3 a3 a4 a4" "a5 a5 a6 a6" "a5 a5 a6 a6" "a5 a5 a6 a6";
  }
  .box-contain {
    padding: 30px;
  }
}
/* -------------------media query mobile-------------------- */
@media (max-width: 768px) {
  /* ------------------index----------------- */
  .menu-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    background-color: #d7cec7;
    grid-template-areas: "a2" "a2" "a1" "a4" "a4" "a3" "a6" "a6" "a5";
  }
  /* -----------------pages----------------- */
  .menu-men {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 9fr);
    gap: 20px;
    width: 100%;
    background-color: #d7cec7;
    grid-template-areas: "a1 a1" "a1 a1" "a1 a1" "a2 a2" "a2 a2" "a2 a2" "a3 a3" "a3 a3" "a3 a3" "a4 a4" "a4 a4" "a4 a4" "a5 a5" "a5 a5" "a5 a5" "a6 a6" "a6 a6" "a6 a6";
  }
  .box-contain {
    padding: 40px;
  }
}
/* ------------welcome------------- */
.welcome-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
}
.welcome-container-contain {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #d7cec7;
  width: 65vw;
  height: auto;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-right: 40px;
  margin-bottom: 40px;
}
.welcome-container-contain-info {
  padding: 30px;
}
.welcome-container-contain-info h1 {
  padding: 20px;
}
.welcome-container-contain-info p {
  font-size: 20px;
}
.welcome-container-img {
  display: flex;
  background-color: #d7cec7;
  justify-content: center;
}
.welcome-container-img img {
  justify-self: center;
  width: 45vw;
  object-fit: contain;
}

/* -------------------formulario--------------- */
.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #b0845e;
  width: 60%;
  height: auto;
  border: 3px groove #bc9e84;
  padding: 20px;
}
.contact-form h2 {
  display: flex;
  align-self: center;
  border: 5px groove #bc9e84;
  padding: 2px 20px;
}

h3 {
  color: aqua;
}

/*# sourceMappingURL=style.css.map */
