* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #d7cec7;
    font-family: 'Lora','Segoe UI', Tahoma, Verdana, sans-serif, serif;
    font-weight: 500;
}
/* -------------navbar------------- */
.navbar {
    background-color: #bc9e84;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-bottom: 3px groove #bc9e84
}
.navbar-brand {
    display: flex;
    width: 10%;
    justify-content: center;
}
.dropdown-menu {
    background-color: #d7cec7;
}
.dropdown-item:hover,
.nav-link:hover,
.socialmedia-container:hover {
    background-color: #ac8360;
    border-radius: 4px;
}
.nav-link {
    font-size: 20px;
}
.navbar-collapse {
    justify-content: center;
    width: 75%
}
.navbar-icon {
    width: 60px;
    height: 100%;
    object-fit: contain;
}
.navbar-socialmedia {
    display: flex;
    flex-direction: row;
    width: 15%;
    justify-content: space-evenly;
}
.socialmedia-container {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.socialmedia-container svg {
    display: flex;
}
@media (max-width:768px) {
    .navbar{
        justify-content: space-between;
        padding: 0 15px;
    }
    .navbar-socialmedia {
        display: none;
    }
}
/* ------------welcome------------- */
.welcome-container {
    display: flex;
    flex-direction: row;
}
.welcome-contain {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #d7cec7;
}
.welcome-img {
    display: flex;
    background-color: #d7cec7;
    justify-content: center;
}
.welcome-img img {
    justify-self: center;
}
.welcome-contain h1 {
    padding: 20px;
}
@media (max-width: 768px) {
    .welcome-container {
        flex-wrap: wrap;
        background-color: #d7cec7;
        justify-content: center;
        /* margin-bottom: 40px; */
}
    .welcome-info {
    padding: 20px;
}
    .welcome-info p {
    font-size: 18px;
}
    .welcome-img img {
        width: 70vw;
}
    .welcome-contain {
        width: 100vw;
}
}
@media (min-width:769px) {
    .welcome-container{
        margin-bottom: 35px;
    }
    .welcome-info{
        padding: 30px;
    }
    .welcome-info p {
        font-size: 20px;
    }
    .welcome-img img {
        width: 45vw;
        object-fit: contain;
}
    .welcome-contain {
        flex-wrap: wrap;
        width: 65vw;
        height: auto;
        justify-content: center;
        align-content: center;
        padding-right: 40px;
}
}
/* -------------------carousel------------------ */
.carousel-item img {
    width: 100%;
    object-fit: cover; 
} 
@media (max-width: 768px) {
    .carousel-item img {
        height: 300px;
    }
}
@media (min-width: 769px) and (max-width: 1023px) {
    .carousel-item img {
        height: 450px;
    }
}
@media (min-width: 1024px) {
    .carousel-item img {
        height: 600px;
    }
}
/* ----------------------main------------------- */
@media (min-width: 1024px) {
    .menu-index {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        background-color: #d7cec7;
        overflow: hidden;
        grid-template-areas: 
        'a1 a1 a2 a2 a3 a3'
        'a1 a1 a2 a2 a3 a3'
        'a1 a1 a2 a2 a3 a3'
        'a4 a4 a5 a5 a6 a6'
        'a4 a4 a5 a5 a6 a6'
        'a4 a4 a5 a5 a6 a6';
    }
    
    .b1, .c1 {
        grid-area: a1;
    }
    .b2, .c2 {
        grid-area: a2;
    }
    .b3, .c3 {
        grid-area: a3;
    }
    .b4, .c4 {
        grid-area: a4;
    }
    .b5, .c5 {
        grid-area: a5;
    }
    .b6, .c6 {
        grid-area: a6;
    }
    .b1, .b3, .b5{
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: center;
        align-items: center;
        background-color: #d7cec7;
        color: black;
        width: 100%;
        height: 100%;
    }
    .box-index-contain {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
    }
    .box-index-contain p { 
        text-align: center;
        padding: 20px;
        font-size: 18px;
    }
    
    /* --------------------menu-men------------------- */

    .menu-men-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .menu-men {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9, 1fr);
        background-color: #d7cec7;
        overflow: hidden;
        grid-template-areas: 
        'a1 a1 a2 a2'
        'a1 a1 a2 a2'
        'a1 a1 a2 a2'
        'a3 a3 a4 a4'
        'a3 a3 a4 a4'
        'a3 a3 a4 a4'
        'a5 a5 a6 a6'
        'a5 a5 a6 a6'
        'a5 a5 a6 a6';
    }
    /* .box-img-container {
        overflow: hidden;
    } */

    .menu-men {
        gap: 20px;
        width: 80%;
    }
    .c1, .c2, .c3, .c4, .c5, .c6 {
        padding: 15px;
        background-color: #bc9e84;
    }
    .box-img {
        width: 100%;
        height: auto;
        padding-bottom: 15px;
    }
    /* .box-img:hover {
        width: 100%;
        height: 130%;
        padding-bottom: 15px;
    } */
    /* .box img {
        display: flex;
        width: 60%;
        height: 60%;
        object-fit: cover;
    } */
    
    .box-contain {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
    }
    
    .box-contain p {
        text-align: justify;
    }
}
@media (min-width: 769px) and (max-width: 1023px) {
    .menu-index {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9, 1fr);
        background-color: #d7cec7;
        grid-template-areas: 
        'a1 a1 a2 a2'
        'a1 a1 a2 a2'
        'a1 a1 a2 a2'
        'a4 a4 a3 a3'
        'a4 a4 a3 a3'
        'a4 a4 a3 a3'
        'a5 a5 a6 a6'
        'a5 a5 a6 a6'
        'a5 a5 a6 a6';
    }
    .b1 {
        grid-area: a1;
        }
    .b2 {
        grid-area: a2;
        }
    .b3 {
        grid-area: a3;
        }
    .b4 {
        grid-area: a4;
        }
    .b5 {
        grid-area: a5;
        }
        .b6 {
        grid-area: a6;
        }
    .b1, .b3, .b5{
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: center;
        align-items: center;
        background-color: #d7cec7;
        color: black;
        width: 100%;
        height: 100%;
        }
    .box-index-contain {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
    }
    .box-index-contain p {
        text-align: justify;
        padding: 15px;
        font-size: 18px;
    }
    
        .box img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 768px) {
    .welcome-contain {
        margin-bottom: 40px;
    }

    .menu-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, auto);
        background-color: #d7cec7;
        grid-template-areas: 
        'a2'
        'a2'
        'a1'
        'a4'
        'a4'
        'a3'
        'a6'
        'a6'
        'a5';
    }
    .b1 {
        grid-area: a1;
        }
    .b2 {
        grid-area: a2;
        }
    .b3 {
        grid-area: a3;
        }
    .b4 {
        grid-area: a4;
        }
    .b5 {
        grid-area: a5;
        }
        .b6 {
        grid-area: a6;
        }
    .b1, .b3, .b5{
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: center;
        align-items: center;
        background-color: #d7cec7;
        color: black;
        width: 100%;
        height:fit-content;
        }
   .box-index-contain {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        padding: 40px ;
    }
    .box-index-contain p { 
        text-align: justify;
        padding: 25px;
        font-size: 18px;
    }
        .box img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
}

.men-container img {
    width: 600px;
    height: 400px;
    object-fit: fill;
}
/* ----------------------main------------------ */
/* ---------------------footer----------------- */
.footer-container {
    display: flex;
    background-color: #bc9e84;
    border-top:3px groove #b0845e;
}
@media (min-width: 769px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
}
}
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}
.footer-logo {
    padding: 15px;
}
.footer-logo,
.footer-content {
    display: flex;
}
.footer-content{
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.footer-content p {
    margin-bottom: 0;
}
.legal-links-container a,
.legal-links-container small {
    color: black;
    text-decoration: none;
} 
