.footer-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    &-content {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        &-legal { 
            & a,& small {
            text-decoration: none;
            }  
        }
    }
}

    
    