.footer-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
    &-logo {
        display: flex;
        justify-content: flex-end;
        width: 70px;
    }
    &-content {
        @extend .flexible;
        height: 100%;
        flex-direction: column;
        padding: 20px;
        &-legal { 
            & a,& small {
            text-decoration: none;
            }  
        }
    }
}

    
    