.h1-container {
    @extend .flexible;
    width: 100%;
    height: 150px;
    & h1 {
        @extend .flexible;
        height: auto;
    }
}
.h1-container h1, h2, .contact-form h2 {
    border: 4px solid $quaternary--bg-color;
    color: white;
    border-radius: 7px;
    background: linear-gradient(45deg, #1c1510ce, #896442b9);
    padding: 10px 50px;
}

.local-container-content h2 {
    margin-bottom: 30px;
}