.h1-container h1, h2, .contact-form h2 {
    padding: 10px 50px;
}
h2 , .contact-form h2 {
    border-radius: 7px;
}
.h1-container {
    @extend .flexible;
    width: 100%;
    height: 150px;
    & h1 {
        @extend .flexible;
        height: auto;
        width: 100%;
    }
}
.local-container-content h2 {
    margin-bottom: 30px;
}