$primary--bg-color: #d7cec7;
$secondary--bg-color: #bc9e84;
$tertiary--bg-color: #b0845e;
$quaternary--bg-color: #956f4e;
$primary--font-color: #000000;
// --------------night-mode---------------
$primary--bg-color-dark: #191919;
$secondary--bg-color-dark: #372718;
$tertiary--bg-color-dark: #543c25;
$primary--font-color-dark: #fff;
// -----------------fonts-----------------
$primary--font: 'Lora','Segoe UI', Tahoma, Verdana, sans-serif, serif;



