$primary--bg-color: #d7cec7;
$secondary--bg-color: #bc9e84;
$tertiary--bg-color: #b0845e;
$quaternary--bg-color: #5c3d23;
$primary--font-color: #000000;
// -----------------fonts-----------------
$primary--font: 'Lora','Segoe UI', Tahoma, Verdana, sans-serif, serif;

$screen-mode:  light;

