/* ---------------------about------------------ */
.local-container {
    display: flex;
    width: 80%;
    height: auto;
    align-items: center;
    background-color:$tertiary--bg-color;
    margin-bottom: 20px;
    padding: 10px;
}
.about-img {
    display: flex;
    width: 100%;
    height: 400px;
    object-fit: contain;
}
@media (min-width: 1023px) {
    .about-container,
    .vision-container {
        flex-direction: row;
    }
}
@media (min-width: 769px) and (max-width: 1023px) {
    .about-container {
        flex-direction: column;
    }
    .vision-container {
        flex-direction: column-reverse;
    }
    .about-img {
        height: 300px;
    }
}
@media (max-width: 768px){
    .about-container, 
    .vision-container {
        width: 100%;
    }
    .about-container {
        flex-direction: column;
    }
    .vision-container {
        flex-direction: column-reverse;
    }
    .about-img {
        height: 300px;
    }
}
/* --------------------locales----------------- */
.local {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.local-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    background-color:$tertiary--bg-color;
    margin-bottom: 20px;
    padding: 10px;
}
@media (min-width: 1024px) {
.local-container {
    align-items: center;
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-size: 20px;
        width: 50%;
        height: 100%;
        padding: 30px;
        & p {
            padding-top: 30px;
        }
    }
}
.local-container-map,
.local-container-img {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    padding: 10px 0 10px 0;
    overflow: hidden;
}
.local-container-map iframe {
    display: flex;
    width: 500px;
    height: 400px;
    
}
.carousel-item .carousel-local-img {
    width: 500px;
    height: 400px;
    object-fit: cover;
}
}
@media (min-width: 769px) and (max-width: 1023px) {
.local-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        font-size: 20px;
        text-align: center;
        width: 80%;
        height: 50%;
        padding: 15px;
    }
}
.local-container-map {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 10px 0 10px 0;
    overflow: hidden;
    padding-bottom: 30px;
}
.local-container-img {
    width: 80%;
    height: 50%;
    padding: 20px 0 10px;
}
.local-container-map iframe {
    display: flex;
    width: 500px;
    height: 400px;
    
}
.carousel-item .carousel-local-img {
    width: 500px;
    height: 400px;
    object-fit: cover;
}
}
@media (max-width: 768px) {
    .local-container {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            font-size: 16px;
            text-align: center;
            width: 100%;
            height: 50%;
            padding: 15px 15px 2px;
        }
    }
    .local-container-map {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding: 10px 0 10px 0;
        overflow: hidden;
        padding-bottom: 30px;
    }
    .local-container-img {
        width: 100%;
        height: 50%;
        padding-bottom: 10px;
    }
    .local-container-map iframe {
        display: flex;
        width: 400px;
        height: 300px;
        
    }
    .carousel-item .carousel-local-img {
        width: 400px;
        height: 300px;
        object-fit: cover;
    }
    }