@media (min-width: 1024px) {
// --------formulario--------
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 590px;
        & .contact-form {
            & input,& textarea {
                background-color: $primary--bg-color;
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1023px) {
// --------formulario--------
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 600px;
        & .contact-form {
            & input,& textarea{
            background-color: #d7cec7;
            }
        }
    } 
}
@media (max-width: 768px) {
// ----------navbar----------    
    .navbar{
        justify-content: space-between;
        padding: 0 15px 20px;
        &-socialmedia {
            display: none;
        }
    }
// ---------welcome----------
    .welcome-container {
        background-color: $primary--bg-color;
        justify-content: center;
        &-contain {
            width: 100vw;
            &-info {
                padding: 20px;
                & p {
                    font-size: 18px;
                }
            }
        }    
    }
// --------formulario--------
    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 580px;
        & .contact-form {
            width: 100%;
            & .mb-3 {
                width: 320px;
                & input,& textarea {
                    background-color: $primary--bg-color;
                }
            }
        }
    }
// ----------footer----------
    .footer-container {
        flex-direction: column;
        align-items: center;
        &-logo {
            padding: 15px;
        }
        &-logo,&-content {
        display: flex;
        }
        &-content{
            height: 100%;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            & p {
                margin-bottom: 0;
                text-align: center;
            }
        }
    }
}