/* ---almaceno todos los colores en un scss para eventualmente 
realizar un boton de modo "dia/noche"--- */
@if $screen-mode == light {
  
    body {
        background-color: $primary--bg-color;
    }
// ------------font---------------
    p, a, li, h1, h2{
        color: $primary--font-color;
    }
// ------------navbar-------------
    .navbar {
        background-color: $secondary--bg-color;
        border-bottom:3px solid $tertiary--bg-color;
    }
// ------------grids--------------
    .menu-index, .menu-men {
        background-color: $primary--bg-color;
    }
    .box {
        background-color: $primary--bg-color;
    }
    .box-pages {
        background-color: $secondary--bg-color;
        &:hover {
            background-color: $tertiary--bg-color;
        }
    }
    .h1-container h1, h2, .contact-form h2 {
            border: 5px groove $tertiary--bg-color;
            padding: 4px 10px;
    }
// -------------forms-------------
    .contact-form {
        background-color: $secondary--bg-color;
        .mb-3 {
            & .button-container {
                background-color: $secondary--bg-color;
                & .send-button {
                    background-color: $quaternary--bg-color;
                }
            }
        }
    }
// ------------footer-------------
    .footer-container {
        background-color: $secondary--bg-color;
        border-top: 3px solid $tertiary--bg-color;
        &-content-legal{ 
            & a,& small {
            color: $primary--font-color;
            }
        }
    } 
}
@else {
    body {
        background-color: $primary--bg-color-dark;
    }
// ------------font---------------
    p, a, li, h1, h2{
        color: $primary--font-color-dark;
    }
// ------------navbar-------------
    .navbar {
        background-color: $secondary--bg-color-dark;
        border-bottom:3px solid $tertiary--bg-color;
    }
// ------------grids--------------
    .menu-index, .menu-men {
        background-color: $primary--bg-color-dark;
    }
    .box {
        background-color: $primary--bg-color-dark;
    }
    .box-pages {
        background-color: $secondary--bg-color-dark;
        &:hover {
            background-color: $tertiary--bg-color-dark;
        }
    }
    .h1-container h1, h2, .contact-form h2 {
            border: 5px groove $tertiary--bg-color;
            padding: 4px 10px;
    }
// -------------forms-------------
    .contact-form {
        background-color: $secondary--bg-color-dark;
        .mb-3 {
            & .button-container {
                background-color: $secondary--bg-color-dark;
                & .send-button {
                    background-color: $quaternary--bg-color;
                }
            }
        }
    }
// ------------footer-------------
    .footer-container {
        background-color: $secondary--bg-color-dark;
        border-top: 3px solid $tertiary--bg-color;
        &-content-legal{ 
            & a,& small {
            color: $primary--font-color-dark;
            }
        }
    } 
}
